
/* Formatting message bubbles
   ----------------------------- */

.MessageBubbleSent {
    -fx-background-color: #1a53ff;
    -fx-background-radius: 16;
    -fx-alignment: center;
}

.MessageBubbleReceived {
    -fx-background-color: #C1C1C1;
    -fx-background-radius: 16;
    -fx-alignment: center;
}

#MessageBubbleContainerSent {
    -fx-alignment: center-right;
    -fx-padding: 5 0 0 0;
}

#MessageBubbleContainerReceived {
    -fx-alignment: center-left;
    -fx-padding: 5 0 0 0;
}
.label.MessageBubbleText {
    -fx-text-fill: white;
    -fx-font-size: 10pt;
    -fx-font-family: "Tahoma";
}

.MessageBubbleTimeSent {
    -fx-alignment: top-right;
}

.MessageBubbleTimeReceived {
    -fx-alignment: top-left;
}

.label.MessageBubbleTime {
    -fx-text-fill: #ADADAD;
    -fx-font-family: Tahoma;
    -fx-font-size: 10pt;
}

#ScrollPaneMessagesBubbles {
    -fx-padding: 5 5 5 5;
    -fx-min-width: 500;
}
#ScrollPaneMessagesBubbles:focused {
    -fx-padding: 5 5 5 5;
    -fx-focus-color: null;
}

.containerMessageTime {

}



/*General Buttons
----------------------*/

.button {
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-pref-height: 40;
    -fx-min-width: 120;
    -fx-font-size: 12pt;
}
.button:hover{
    -fx-font-weight: bold;
}

.button.close {
    -fx-background-color: #DD1122;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #DD1122;
}

.button.close:hover {
    -fx-background-color: #BE0000;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #BE0000;
}

.button.confirm {
    -fx-background-color: #25B252;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #25B252;
}

.button.confirm:hover {
    -fx-background-color: #008236;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #008236;
}

.button.success {
    -fx-background-color: #25B252;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #25B252;
    -fx-graphic-text-gap: 8;
}

.button.success:hover {
    -fx-background-color: #25B252;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #25B252;
    -fx-graphic-text-gap: 8;
}
.button.primary {
    -fx-background-color: #1781E3;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #1781E3;
    -fx-graphic-text-gap: 8;
}

.button.primary:hover {
    -fx-background-color: #0851DA;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #0851DA;
    -fx-graphic-text-gap: 8;
}
.button.secondary {
    -fx-background-color: #CFD5D9;
    -fx-text-fill: #474747;
    -fx-border-color: #CFD5D9;
    -fx-graphic-text-gap: 8;
}

.button.secondary:hover {
    -fx-background-color: #B1B9BE;
    -fx-text-fill: #474747;
    -fx-border-color: #B1B9BE;
    -fx-graphic-text-gap: 8;
}

.button.block {
    -fx-background-color: #CFD5D9;
    -fx-text-fill: #474747;
    -fx-border-color: #CFD5D9;
    -fx-graphic-text-gap: 8;
}

.button.block:hover {
    -fx-background-color: #BE0000;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #BE0000;
    -fx-graphic-text-gap: 8;
}

.button.unblock {
    -fx-background-color: #BE0000;
    -fx-text-fill: #474747;
    -fx-border-color: #BE0000;
    -fx-graphic-text-gap: 8;
}

.button.unblock:hover {
    -fx-background-color: #CFD5D9;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #CFD5D9;
    -fx-graphic-text-gap: 8;
}

/*Toggle Button for blocking contacts
----------------------------------------*/
.toggle-button.block {
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-pref-height: 40;
    -fx-min-width: 120;
    -fx-font-size: 12pt;
    -fx-graphic-text-gap: 8;
    -fx-background-color: #CFD5D9;
    -fx-text-fill: #FFFFFF;
}
.toggle-button.block:hover {
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-pref-height: 40;
    -fx-min-width: 120;
    -fx-font-size: 12pt;
    -fx-graphic-text-gap: 8;
    -fx-background-color: #BE0000;
    -fx-text-fill: #FFFFFF;
}

.toggle-button.block:selected {
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-pref-height: 40;
    -fx-min-width: 120;
    -fx-font-size: 12pt;
    -fx-graphic-text-gap: 8;
    -fx-background-color: #DD1122;
    -fx-text-fill: #FFFFFF;
}
.toggle-button.block:selected:hover {
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-pref-height: 40;
    -fx-min-width: 120;
    -fx-font-size: 12pt;
    -fx-graphic-text-gap: 8;
    -fx-background-color: #B1B9BE;
    -fx-text-fill: #FFFFFF;
}



/*General TextFields
-----------------------*/

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-text-fill: #000000;
    -fx-background-radius: 16;
    -fx-min-height: 40;
    -fx-min-height: 40;
    -fx-font-family: Tahoma;
    -fx-font-size: 12pt;
}

.text-field:focused {
    -fx-background-color: #000000 , white , white;
    -fx-background-insets: 0 0 -3 0, 0 0 0 0, 0 -1 3 -1;
    -fx-text-fill: #000000;
}

.text-field.invalid {
     -fx-background-color: #DD1122 , white , white;
     -fx-background-insets: 0 0 -3 0, 0 0 0 0, 0 -1 3 -1;
     -fx-text-fill: #000000;
 }
.text-field.invalid:focused {
    -fx-background-color: #BE0000 , white , white;
    -fx-background-insets: 0 0 -3 0, 0 0 0 0, 0 -1 3 -1;
    -fx-text-fill: #000000;
}



/*Interaction Ribbon Styling
Single Elements only
-----------------------------*/

#InteractionRibbonBox {
    -fx-background-color: #EDEDED;
    -fx-min-height: 45;
    -fx-min-height: 45;

}

#MessageTextField {
    -fx-min-width: 350;
    -fx-max-width: 350;
}

#MessageTextField:focused {
    -fx-background-color: #1781E3 , white , white;
    -fx-min-width: 350;
    -fx-max-width: 350;
}

#SendButton {
    -fx-background-color: #1781E3;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #1781E3;
    -fx-min-height: 30;
    -fx-min-width: 80;
    -fx-pref-height: 40;
    -fx-min-width: 120;
    -fx-font-size: 12pt;
}

#SendButton:hover {
    -fx-background-color: #0851DA;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #0851DA;
}


/*Contact Cards (for Mainview contacts)
---------------------------------------*/

.ContactCard {
    -fx-alignment: Center-left;
    -fx-padding: 10 10 10 15;
    -fx-spacing: 25;
}

.label.TextContactCard {
    -fx-font-family: Tahoma;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.label.TextContactCardSecond {
    -fx-text-fill: #3C3C3C;
}

.label.TextContactCardBlocked {
    -fx-font-family: Tahoma;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-text-fill: #ADADAD;
}

.label.TextContactCardSecondBlocked {
    -fx-text-fill: #ADADAD;
}

.ContactCardTextContainer {
    -fx-spacing: 3;
}

#ContactsWindowScrollPane {
    -fx-min-width: 250;
}
#ContactsWindowScrollPane:focused {
    -fx-focus-color: null;
}
#ContactsWindowList {
    -fx-min-width: 250;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #DFDFDF;
    -fx-text-fill: black;
}
.list-cell:hover {
    -fx-background-color: #F5F5F5;
}



/*General Pop Up Windows
------------------------------------*/

.windowPopUp {
    -fx-padding: 50;
    -fx-spacing: 20;
}


/* Contact Creation Pop Up
-------------------------------------*/
.nameBoxContact {
    -fx-spacing: 20;

}

.TextField.contact {
    -fx-min-width: 150;
}

.TextField.contact:focused {
    -fx-min-width: 150;
}


/* Label styling
-----------------------------*/
.label.header{
    -fx-font-family: Tahoma;
    -fx-font-size: 22pt;
    -fx-text-fill: #000000;
}

.label.defaultLabel{
    -fx-font-family: Tahoma;
    -fx-font-size: 12pt
}

.label.errorMessage {
    -fx-font-family: Tahoma;
    -fx-font-size: 12pt
}

/*CoiceBox General Styling
------------------------------*/
.choice-box {
    -fx-text-alignment: center;
    -fx-font-size: 12pt;
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.choice-box.menu-item:focused {
    -fx-background-color: #1781E3;
}

/*Styling for Images
--------------------------------*/
.headerIcon{
}

/*Styling for MenuBar Mainmenu
--------------------------------*/
.menu-bar{
    -fx-use-system-menu-bar: false;
    -fx-background-color: #FFFFFF;
}

.menu-bar .label {
    -fx-use-system-menu-bar: false;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #5C5C5C;
    -fx-font-family: Tahoma;
    -fx-font-size: 11pt;
}


.menu:hover {
    -fx-background-color: #FFFFFF;
}

.menu:showing {
    -fx-background-color: #FFFFFF;

}

.menu-bar.label {
    -fx-use-system-menu-bar: false;
    -fx-font-family: Tahoma;
}


.menu.label:hover {
    -fx-text-fill: #0851DA;
    -fx-font-family: Tahoma;
}

.menu:showing .label {
    -fx-font-family: Tahoma
}

.context-menu {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.menu-item:hover {
    -fx-background-color:  #E4E9EC;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.menu-item:focused {
    -fx-background-color:  #E4E9EC;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.menu-item:hover .label {
    -fx-font-family: Tahoma;
    -fx-background-color:  #E4E9EC;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.menu-item:focused .label {
    -fx-font-family: Tahoma;
    -fx-background-color:  #E4E9EC;
    -fx-text-fill:  #001155;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

.menu-item .label {
    -fx-font-family: Tahoma;
    -fx-text-fill: #474747;
}



/*Splash Screen
---------------------------------*/
.splashBox {
    -fx-background-color: #F4F4F4;
}

/* Hyperlinks
---------------------------------*/
.hyperlink {
    -fx-font-family: Tahoma;
    -fx-text-fill:  #1781E3;
    -fx-font-style: italic;
}

.hyperlink:hover {
    -fx-text-fill:  #0851DA;
}


